<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>478038809355-dn1tccsogea4ol21jdgo0potcocseapq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478038809355-dn1tccsogea4ol21jdgo0potcocseapq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>478038809355-kih3quee0s4kn1ajnn7vqejjl730p5qa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDrgO2z31x5ax2vpy_nw6JiLs8vWKAOifc</string>
	<key>GCM_SENDER_ID</key>
	<string>478038809355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moniitoV2</string>
	<key>PROJECT_ID</key>
	<string>moniito-v1</string>
	<key>STORAGE_BUCKET</key>
	<string>moniito-v1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478038809355:ios:9a4fba44d040f042fc200e</string>
</dict>
</plist>